version: 1
update_configs:
  - package_manager: 'javascript'
    directory: '/'
    update_schedule: 'monthly'
    version_requirement_updates: 'auto' # Increase versions if an app, widen ranges if a library
    automerged_updates:
      - match:
          dependency_type: 'all' # all means both dev and prod dependencies
          update_type: 'semver:minor' # all types of versions meaning major, minor and patch
